extends layout

block content
  canvas(id='viewport')
  div.chat
    ul(id='messages')
    form(action='' style='padding: 10px;').input-group
      input(id='m').form-control
      span.input-group-btn
        button.btn.btn-default Send